.clock {
	font-family: FrontPageNeue;;
	color: #ffffff;
	right: 10%;
	padding-top: 8px;
}

.time {
    letter-spacing: 0.05em;
    font-size: 20px;
	padding-left: 20px;  
	}
.date {
    letter-spacing: 0.1em;
    font-size: 20px; }